---
- name: Get existing ACLs for the root path
  become: true
  ansible.builtin.command: "pveum acl list --output-format json"
  register: pve_acls
  changed_when: false

- name: Assign role to user
  become: true
  ansible.builtin.command:
    cmd: "pveum aclmod / -user {{ terraform_user_name }}@pve -role {{ terraform_role_name }}"
  when: "'{}@pve'.format(terraform_user_name) not in (pve_acls.stdout | from_json | map(attribute='ugid') | list)"
  register: output
  changed_when: output.rc != 0
