---
- name: Set user password if not already set
  ansible.builtin.user:
    name: '{{ ansible_user_name }}'
    password: >
      {{ ansible_user_password | password_hash('sha512', salt=((ansible_salt ~ ansible_hostname | b64encode)[:16]))}}"
    state: present
    shell: /bin/bash
    update_password: on_create
    create_home: true
